.form
	label
		Enter your username to collect your Upvote.
	input(class='user', type='text',name="username", id="username", placeholder="Enter username...")
			div
				input(class="btn-primary", type="submit", value="Submit"))	