.brick{height:35px;}
.center{text-align:center;}
.aligncenter4{padding-left:32%;}
.aligncenter8{padding-left:14%;}
.aligncenter12{padding-left:5%;}
.strike {text-decoration:line-through;}
.tall{height:480px;overflow: scroll;}