block head
.container
	.navbar
			a.brand(href="/") 
				img(style='border: 0px', src='/images/logo.png')
			ul.nav.pull-right(style='padding-top: 12px')
				- if (!everyauth.loggedIn)
					li#login
						a(href='/auth/facebook', style='border: 0px')
							img(style='border: 0px', src='/images/login-facebook.png')
				-else
					-if (user.fb.name.first)
						li
							a(href='/user/profile', style='border: 0px') 
								img(style='padding-top:0px', src='http://graph.facebook.com/' + user.fb.id + '/picture')
						li
							a(href="/user/profile")= user.fb.name.first
						
					-else
						li	
							a(href="/user/profile")= user.login	
					li
						a.pull-right(href='/logout') Logout