block head
.container
	.navbar
			a.brand(href="/") 
				img(style='border: 0px', src='/images/logo.png')
			ul.nav.pull-right(style='padding-top: 12px')
				- if (!everyauth.loggedIn)
					li#login
						a(href='/auth/facebook', style='border: 0px')
							img(style='border: 0px', src='/images/login-facebook.png')
				-else
					-if (user.fb.name.first)
						a.brand(href="/user/profile")= user.fb.name.first
						
					-else	
						a.brand(href="/user/profile")= user.login	
					li
						a(href='/logout') Logout