head

body 
	.container
		- if (alert)
			.alert
				p= alert
		.well
			.row-fluid
				.left-column.span6
					.center
						br
						br
						br
						h1 UpVote the World						
						br
						p.lead 
							Let Let someone know when they've done something nice, said something funny, or anything else worthy of an upvote. Give them an Uptoken to show that you've noticed.  Once you've redeemed your token, pass it on!
						br

					.collect.center
						form(action='/collect', method='POST').form
							input(type='text', name='collect_code', placeholder='Enter code from your UpToken')
							input.btn.btn-success(style='margin-left: 15px; margin-top: -8px;', type='submit', value='Collect)
				.right-column.span6
					.img-container.span6.center
						.img
							img(style='border: 0px', src='/images/photo.png')