!!!
html
	head
		link(rel="shortcut icon", href="/images/fav.ico", type="image/x-icon")
		title UpToken.org
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/main.js')

	body
				include header.jade
				!= body

				script(type="text/javascript") var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-3878446-11']); _gaq.push(['_trackPageview']); (function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();

		.footer
			include footer.jade