body
	.container
		-if (alert)
					.alert.alert-success
						p= alert
				
		.row-fluid
			.well
				.score.center
					h1= user.fb.name.first
					h1 #{score} Upvotes
					<div class="addthis_toolbox addthis_default_style center ">
						<a class="addthis_button_facebook_send"></a>