body
	.container
		-if (alert)
					.alert.alert-success
						p= alert
				
		.well
			.row-fluid
				.left-column.span6
					.score.center
						h1= user.fb.name.first
						h1 #{score} Upvotes
				.right-column.span6
					Thanks for using Uptoken! Right now we are just tracking your upvotes. Please be patient, we (well reall, just me) are bulding out more features constantly. Have an idea for something you'd like to see? send an email.